/* adiciona uma container*/
/*define a borda, padding, cor de fundo e arredondamento de borda do conteiner*/

.cont {
    border: 1px solid #1b0b0b;
    padding: 10px;
    margin: 10px;
    background: #71FAEA;
    border-radius: 10px;
    font-size: 30pt;
}

.cont2 {
    border: 1px solid #0f0c0c;
    padding: 10px;
    margin: 10px;
    background: #FA70F2;
    border-radius: 10px;
    font-size: 30pt;
}



.box {
    width: 90%;

}

.box1 {
    width: 40%;
    border:1px solid #1b0b0b;
    background: #b57be4;

}

.box2 {
    width: 50%;
}

/*adiciona display flex em linha*/
.flr {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/*adiciona display flex em linha reversa*/
.flrr {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

/*adiciona display flex em coluna*/
.flc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/*adiciona display flex em coluna reversa*/
.flcr {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px;
}

/**/
/**/
